<section>
  <div>
   <%= button_to "Go to Food path", foods_path, method: :get %>
  </div>
  <br />
  <div>
   <%= button_to "Add Recipe", new_recipe_path, method: :get %>
  </div>
  <% if @recipes.exists? %>
      <% @recipes.each do |recipe| %>
      <p><%= link_to recipe.name ,recipe_path(recipe.id) %></p>
      <p><%= recipe.description %></p>
      <p><%= button_to "Remove", recipe_path(recipe.id), method: :delete %></p>
      <% end %>
   <% else %>
          <p>No Recipe Added yet</p> 
      <% end %>
  <div>
</div>
</section>
